<%= form_for [@post, @post.comments.build] do |f| %>
    <p>
        <%= f.text_field :body, placeholder: "Napisz coś" %></br>
        <%= f.button "Skomentuj", class: "btn btn-info" %>
    </p>
<% end %>