<h2>Galeria</h2>
<div class="gallery">
<h2>Czesław Niemen-Sen o Warszawie</h2>
<iframe width="700" height="525" src="https://www.youtube.com/embed/ePNUSmH3dMI" frameborder="0" allowfullscreen></iframe>

<h2>Nouvelle Vague - Dance With Me</h2>
<iframe width="700" height="525" src="https://www.youtube.com/embed/1boeQ9zoF-s" frameborder="0" allowfullscreen></iframe>
</div>