@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * Globals
 */

/* Links */

html {
 background-color: #FFFFEE;
}

a,
a:focus,
a:hover {
  color: #CC0033;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

h1 {
    color: #CC0033;
}

p {
    color: #000;
}

h1:hover { 
    color: #CC0033;
}

h1 {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.container {
    width: 750px;
    height: 80%;
    display: center;
}

textarea {
    color: #000000;
}

#header {
	padding: 1em 3em;
	border-bottom: 1px solid #d6dce0;
	background: #444444;
	color: #9eafba;
	p {
		display: inline;
	}
	a {
		color: #9eafba;
		text-decoration: none;
	}
}

.btn {
    position: relative;
    overflow: auto;
}


img {
  padding: 0 10px 0 10px;
}

.header {
  background-color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 750px;
  position: relative;
  left: 10px;
}


.body-wrapper {
    display: table-cell;
    vertical-align: middle;
        display: table;
    margin: auto;
      width: 780px;
	position: center;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.footer {
  border: 1px solid #550000;
}


h1, h2, h3, h4, h5 {
	font-family: 'Cardo','Geneva';
	padding-bottom: 20px;
}

a:hover {
	text-decoration: underline;
}

h2 a:hover {
	text-decoration: none;
}

.gallery {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.topmenu {
    border-top: 1px solid #d6dce0;;
    border-bottom: 1px solid #d6dce0;;
    font-family: 'Cardo';
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-align: center

}

a {
    height: 14px;
    display: inline-block;
    color: #89241F;
    margin: 6px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.underimg {
    position: absolute no-repeat scroll center top transparent;
    position: absolute; 
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.images {
    background-image: url("underpic.jpg");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}