@import "bootstrap-sprockets";
@import "bootstrap";

/*
*= require normalize-rails
*= require_self
*= require_tree .

 */
 
@import 'normalize';


a {
  color: #001a33;
}

a:focus,
a:hover {
  color: #4d4dff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

h1 {
    color: #001a33;
}

.h1 {
	color: #004466;
	;font-family: 'Bitter', serif; font-size: 50px; 
	font-weight: normal; 
	line-height: 54px; 
	margin: 0 0 54px; 
}

p {
    color: #000;
}

h1:hover { 
    color: #ff751a
}

h1 {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.container {
    display: center;
}

textarea {
    color: #000000;
}

#header {
	padding: 2em 3em;
	border-bottom: 1px solid #d6dce0;
	background: #444444;
	color: #9eafba;
	p {
		display: inline;
	}
	a {
		color: #9eafba;
		text-decoration: none;
	}
}

.btn {
    position: relative;
    overflow: auto;
}


img {
  padding: 0 10px 0 10px;
}



.body-wrapper {
    vertical-align: middle;
        display: table;
    margin: auto;
      width: 780px;
	position: center;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 12px;
    line-height: 18px;
}

.footer {
  border: 1px solid #550000;
}


h1, h2, h3, h4, h5 {
	font-family: 'Cardo','Geneva';
	padding-bottom: 20px;
}

a:hover {
	text-decoration: underline;
}

h2 a:hover {
	text-decoration: none;
}

.gallery {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.topmenu {
    font-family: 'Cardo';
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 8px;
        min-height: 180px;
        position: relative;
}

a {
    height: 14px;
    display: inline-block;
    margin: 10px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.underimg {
    position: absolute no-repeat scroll center top;
    position: absolute; 
}

.images {
    background-image: asset_url("underpic.jpg");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-color: #EBD29C;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #683501;
border-top-style: solid;
border-top-width: 1px;
border-top-color: #683501
}

.title {
    display: inline-block;
    margin-bottom: 8px;
}

#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.comment-container {
    display: center;
    border-top: 1px solid;
    border-top: 1px solid;
          width: 780px;
}

.face {
        position: absolute;
    right: 20px;
}

.header {
  background-color: #fff;
  width: 806px;
  margin: auto;
  left: 10px;
  position: relative;
    min-height: 150px;
}

.links {
    position: absolute;
    bottom: 2px;
    margin-bottom: 8px;
}


body, .row {
    background-color: #f2f2f2;
}

.well {
    background-color: #ecf2f8;
}

.footer {
    background-color: #e6e6e6;
}

.well {
    background-color: #ecf2f8;
}

.footer {
    background-color: #e6e6e6;
}