@import "bootstrap-sprockets";
@import "bootstrap";
@import 'normalize';
@import "lightbox";

/*
*= require normalize-rails
*= require lightbox
*= require_self
*= require_tree .

 */


a {
    	font-family: 'Cardo','Geneva';
    	color: #000;
}

a:focus,
a:hover {
  color: #003566;
}



.links a {
  color: #ffdd99;
  text-shadow: 0px 1px 3px #ff8533;
}

.links a:focus,
.links a:hover,
.header a:hover,
.header a:focus{
  color: #ffa64d;
      text-decoration: none;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

h1 {
    color: #ffd699;
}

.h1 {
	color: #ffd699;
	font-family: 'Bitter', serif; font-size: 50px; 
	text-shadow: 0px 3px 3px #800;
	font-weight: normal; 
	line-height: 54px; 
	margin: 0 0 54px;
}

a .h1 {
        text-decoration: none;
}

.container {
    display: center;
}

textarea {
    color: #000000;
}

#header {
	padding: 2em 3em;
	border-bottom: 1px solid #d6dce0;
	color: #9eafba;
	p {
		display: inline;
	}
	a {
		color: #9eafba;
		text-decoration: none;
	}
}

.btn {
    position: relative;
    overflow: auto;
}


img {
  padding: 0 10px 0 10px;
}



.body-wrapper {
    vertical-align: middle;
        display: table;
    margin: auto;
      width: 780px;
	position: center;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 12px;
    line-height: 18px;
}

.footer {
  border-top: 1px solid #550000;
}


h1, h2, h3, h4, h5 {
	font-family: 'Cardo','Geneva';
	padding-bottom: 20px;
}


.gallery {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.topmenu {
    font-family: 'Cardo';
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 8px;
        min-height: 180px;
        position: relative;
}

a {
    height: 14px;
    display: inline-block;
    margin: 10px;
    font-size: 16px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.underimg {
    position: absolute no-repeat scroll center top;
    position: absolute; 
}

#top {
    background-image: asset_url("kosciol.jpg");
}

.images {
    background-image: asset_url("underpic.jpg");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-color: #EBD29C;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #683501;
border-top-style: solid;
border-top-width: 1px;
border-top-color: #683501
}

.title {
    display: inline-block;
    margin-bottom: 8px;
}

#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.comment-container {
    display: center;
    border-top: 1px solid;
    border-top: 1px solid;
          width: 780px;
}

.face {
        position: absolute;
    right: 20px;
}

.header {
  width: 860px;
  margin: auto;
  left: 10px;
  position: relative;
  min-height: 180px;
}

.links {
    position: absolute;
    bottom: 2px;
    margin-bottom: 8px;
}


.row:not(#top2) {
    background-color: #f2f2f2;

}

.well {
    background-color: #ecf2f8;
}

.footer {
    background-color: #e6e6e6;
}

.well {
    background-color: #fff;
    max-width: 500px;
}

.footer {
    background-color: #e6e6e6;
}


.dropdown-menu {
    background-color: #330000;
}

.img {
    width: 200px;
    height: 130px;
    padding: 0px;
    margin-bottom: 100px;
}

#copywright {
    background-image: asset_url("kosciol.jpg");
    color: #ffdd99;
    text-shadow: 0px 2px 3px #800;
    font-size: 18px;
    min-height: 60px;
    font-family: 'Cardo','Geneva';
    border-top: 1px solid #550000;
}


.you h4 {
    padding-bottom: 0px;
}