    <div class="row">
        <div class="col-xs-0 col-md-2"></div>
        <div class='title col-xs-12 col-md-8'>
            <div class="footer">
                <p style="margin: 10px">Nam strzelać nie kazano. - Wstąpiłem na działo
                I spójrzałem na pole; dwieście armat grzmiało.</p>
                <p style="margin: 10px">Artyleryi ruskiej ciągną się szeregi,
                Prosto, długo, daleko, jako morza brzegi;</p>
                <strong><%= link_to "Zarządaj stroną", admin_path, id: "manage" %></strong>
            </div>
        </div>
    </div>