<div class="you">
    <%= link_to "Zdjęcia", gallery_path, class: "h3" %>
    <div>
        <p>Zdj</p>  
        <%= image_tag "1917.jpg", class: "img" %> 
    </div>
    
    <%= link_to "Nagrania", gallery_path, class: "h3" %>
    <h4>Muzyczne Lato w Woli Rakowej 2011</h4>    
    <iframe width="200" height="113" src="https://www.youtube.com/embed/jBLbleL4S4I" frameborder="0" allowfullscreen></iframe>
    
    <h4>Muzyczne Lato w Woli Rakowej 2010</h4>
    <iframe width="200" height="113" src="https://www.youtube.com/embed/xFG0MNqJ_4A" frameborder="0" allowfullscreen></iframe>
    
    <h4>Muzyczne Lato w Woli Rakowej 2009</h4>
    <iframe width="200" height="113" src="https://www.youtube.com/embed/HIFKnzsjyKs" frameborder="0" allowfullscreen></iframe>
</div>